[1masttokens[0m==3.0.1
[1mcertifi[0m==2026.4.22
[1mcharset-normalizer[0m==3.4.7
[1mcolorama[0m==0.4.6
[1mcomm[0m==0.2.3
[1mdebugpy[0m==1.8.20
[1mdecorator[0m==5.2.1
[1mexecuting[0m==2.2.1
[1midna[0m==3.13
[1mipykernel[0m==7.2.0
[1mipython[0m==9.13.0
[1mipython-pygments-lexers[0m==1.1.1
[1mjedi[0m==0.19.2
[1mjupyter-client[0m==8.8.0
[1mjupyter-core[0m==5.9.1
[1mmatplotlib-inline[0m==0.2.1
[1mnest-asyncio[0m==1.6.0
[1mpackaging[0m==26.2
[1mparso[0m==0.8.6
[1mplatformdirs[0m==4.9.6
[1mprompt-toolkit[0m==3.0.52
[1mpsutil[0m==7.2.2
[1mpure-eval[0m==0.2.3
[1mpygments[0m==2.20.0
[1mpython-dateutil[0m==2.9.0.post0
[1mpyzmq[0m==27.1.0
[1mrequests[0m==2.33.1
[1msix[0m==1.17.0
[1mstack-data[0m==0.6.3
[1mtornado[0m==6.5.5
[1mtqdm[0m==4.67.3
[1mtraitlets[0m==5.14.3
[1murllib3[0m==2.6.3
[1muv[0m==0.11.8
[1mwcwidth[0m==0.6.0
